body {
    margin: 0;
    background: #1F2937;
    font-family: 'Inter';
    width: 500px;
}
h1{
    font-family:  'Karla';
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    padding-top: 60px;
    padding-left: 52px;
    margin-bottom: 10px;
    letter-spacing: -0.025em;
    color: #FFFFFF;
}
span {
    color: #10B981;
}
p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */
    margin-top: 10px;
    padding-left: 52px;
    /* Medium grey */

    color: #D5D4D8;
}
button{
    padding: 9px 17px 9px 15px;
    width: 211px;
    height: 39px;
    background: #273549;
    /* shadow/sm */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    margin-left: 52px;
    width: 191px;
    height: 42px;
    color: white;
    background: #10B981;
	border: none;
}
hr{
    width: 446px;
    height: 0px;
    margin-left: 52px;
    border: 1px solid #2F3E53;
}
.btn {
    display: flex;
    flex-direction: row;
    align-content: center;
}
.btn-el {
    width: 180px;
    height: 16px;
    background: #273549;
    margin-left: 52px;
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
    /* identical to box height, or 200% */
    text-align: center;
    color: #55F991;
    border-radius: 6px;
}

button:hover {
	box-shadow: 1px 1px 2px white;
}